#shellcheck disable=SC2148,SC2155
# Kubernetes
export KUBECONFIG="$(expand_path ./kubernetes/main/kubeconfig)"
#export SOPS_AGE_KEY_FILE="$(expand_path ./age.key)"
export SOPS_AGE_KEY_FILE="/Users/brian/.config/sops/age/keys.txt"
export TALOSCONFIG="$(expand_path ./kubernetes/main/bootstrap/talos/clusterconfig/talosconfig)"
# Taskfile
export TASK_X_MAP_VARIABLES=0
